@using FOAEA3.Model.Enums
@using FOAEA3.Data.Base

@model FOAEA3.Model.Interfaces.IMessageList

@if ((Model?.Messages != null) && (Model.Messages.Count > 0))
{
    <div class="row mt-2">
        <div class="col">
            @if (Model.Messages.ContainsMessagesOfType(MessageType.Information))
            {
                <div class="row">
                    <div class="ml-3 col-11 alert alert-info">
                        @{
                            var infoList = Model.Messages.GetMessagesForType(MessageType.Information);
                        }
                        @for (int i = 0; i < infoList.Count; i++)
                        {
                            if (infoList[i].Code != EventCode.UNDEFINED)
                            {
                                @ReferenceData.Instance().FoaEvents[infoList[i].Code].Description
                            }
                            else if (!infoList[i].IsUrl)
                            {
                                @infoList[i].Description
                            }
                            else
                            {
                                <br />
                                <a href="@infoList[i].URL">@infoList[i].Description</a>
                            }
                            @if (i <= infoList.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }

            @if (Model.Messages.ContainsMessagesOfType(MessageType.Warning))
            {
                <div class="row">
                    <div class="ml-3 col-11 alert alert-warning">
                        @{
                            var infoList = Model.Messages.GetMessagesForType(MessageType.Warning);
                        }
                        @for (int i = 0; i < infoList.Count; i++)
                        {
                            if (infoList[i].Code != EventCode.UNDEFINED)
                            {
                                @ReferenceData.Instance().FoaEvents[infoList[i].Code].Description
                            }
                            else if (!infoList[i].IsUrl)
                            {
                                @infoList[i].Description
                            }
                            else
                            {
                                <br />
                                <a href="@infoList[i].URL">@infoList[i].Description</a>
                            }
                            @if (i <= infoList.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }

            @if (Model.Messages.ContainsNonSystemMessagesOfType(MessageType.Error))
            {
                <div class="row">
                    <div class="ml-3 col-11 alert alert-danger">
                        @{
                            var infoList = Model.Messages.GetMessagesForType(MessageType.Error);
                        }
                        @for (int i = 0; i < infoList.Count; i++)
                        {
                            if (!infoList[i].IsSystemMessage)
                            {
                                if (infoList[i].Code != EventCode.UNDEFINED)
                                {
                                    @ReferenceData.Instance().FoaEvents[infoList[i].Code].Description
                                }
                                else if (!infoList[i].IsUrl)
                                {
                                    @infoList[i].Description
                                }
                                else
                                {
                                    <br />
                                    <a href="@infoList[i].URL">@infoList[i].Description</a>
                                }
                                @if (i <= infoList.Count - 1)
                                {
                                    <br />
                                }
                            }
                        }
                    </div>
                </div>
            }

            @if (Model.Messages.ContainsSystemMessagesOfType(MessageType.Error))
            {
                <div class="row">
                    <div class="ml-3 col-11 alert alert-dark font-weight-bold text-danger">
                        @{
                            var infoList = Model.Messages.GetSystemMessagesForType(MessageType.Error);
                        }
                        @for (int i = 0; i < infoList.Count; i++)
                        {
                            if (infoList[i].Code != EventCode.UNDEFINED)
                            {
                                @ReferenceData.Instance().FoaEvents[infoList[i].Code].Description
                            }
                            else if (!infoList[i].IsUrl)
                            {
                                @infoList[i].Description
                            }
                            else
                            {
                                <br />
                                <a href="@infoList[i].URL">@infoList[i].Description</a>
                            }
                            @if (i <= infoList.Count - 1)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

