@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using FOAEA3.Resources.Helpers;

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    bool hasLoggedIn = (!string.IsNullOrEmpty(SessionData.FOAEAUser));
    bool hasViewedToR = (SessionData.TermViewed == "TRUE");
    bool hasSelectedSubmitter = (!string.IsNullOrEmpty(SessionData.CurrentSubmitter));

    string displayProtectedB = (hasLoggedIn && hasViewedToR && hasSelectedSubmitter) ? "block" : "none";
    string displayBreadcrumb = displayProtectedB;

}

<!DOCTYPE html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" public>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FOAEA</title>

    <environment exclude="Production,Staging">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        @*<link href="https://wet-boew.github.io/themes-dist/GCWeb/css/theme.css" rel="stylesheet" />*@
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
        <link href="~/lib/wet/site-assets/x-bootstrap-4.css" rel="stylesheet" />
        <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
        <link href="~/css/dev.css" rel="stylesheet" />
        <link href="~/css/foaea.css" rel="stylesheet" />
        <link href="~/css/menus.css" rel="stylesheet" />
    </environment>
    <environment include="Production,Staging">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        @*<link href="https://wet-boew.github.io/themes-dist/GCWeb/css/theme.min.css" rel="stylesheet" />*@
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
        <link href="~/lib/wet/site-assets/x-bootstrap-4.css" rel="stylesheet" />
        <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/css/foaea.min.css" rel="stylesheet" />
        <link href="~/css/menus.min.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/css/prod.min.css" rel="stylesheet" />
    </environment>
    <environment include="Staging">
        <link href="~/css/staging.min.css" rel="stylesheet" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <div id="wb-bnr" class="container body-content mt-2 pageAdjust">

        @*<div class="row">
                <div class="col-6 offset-2"><img src="~/images/h01.gif" /></div>
                <div class="col-2 offset-2" style="text-align:right;"><img src="~/images/h02.gif" /></div>
            </div>*@
        <!-- top menu -->
        <div class="row pt-2">
            <section class="col-12" style="font-size:smaller;">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <a href="https://www.canada.ca/en.html">
                                <img src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg" alt="">
                                <span class="sr-only"> Government of Canada</span>
                            </a>
                        </div>
                        <div class="offset-5 col-2 pl-5">
                            <ul class="list-inline mb-0">
                                <li>
                                    @if (LanguageHelper.IsEnglish())
                                    {
                                        <a asp-area="" asp-controller="Home" asp-action="SwitchLanguage" asp-route-returnUrl="@returnUrl" lang="fr">
                                            <span class="und d-none d-sm-inline">Français</span>
                                            <abbr class="h5 d-inline d-sm-none mt-0 mb-0" title="Français">FR</abbr>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-area="" asp-controller="Home" asp-action="SwitchLanguage" asp-route-returnUrl="@returnUrl" lang="en">
                                            <span class="d-none d-sm-inline">English</span>
                                            <abbr class="h5 d-inline d-sm-none mt-0 mb-0" title="English">EN</abbr>
                                        </a>
                                    }
                                </li>
                                <li class="list-inline mb-0">
                                    @*<a asp-page="/Logout">Logout</a>*@
                                    <a asp-area="" asp-controller="Home" asp-action="Logout" lang="en">
                                        <span class="d-none d-sm-inline">Logout</span>
                                        @*<abbr class="h5 d-inline d-sm-none mt-0 mb-0" title="English">EN</abbr>*@
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row pt-2" style="display:@displayBreadcrumb">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb col-12">
                        <ol class="breadcrumb" style="background-color:transparent !important;">
                            <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <main property="mainContentOfPage" class="container" typeof="WebPageElement">

            <img id="loadingImg" src="~/images/Loading_2.gif" style="width:25px;position:absolute;top:auto;left:auto;" />

            <!-- main body of page-->

            <div id="logoutWarning" class="alert alert-warning col-12 text-center" style="display:none;">Automatic logout due to inactivity in <span id="logoutWarningCountdown"></span> seconds...</div>

            <div id="leftMenu" class="row" style="display:none;">
                @await Component.InvokeAsync("MainMenu")
                <!-- main content -->
                <section class="col-10">
                    <div class="row mt-1">
                        <section class="col-12" style="display:@displayProtectedB;"><strong>Protected B</strong></section>
                    </div>
                    @RenderBody()
                    <div class="row">
                        <section class="col-12" style="display:@displayProtectedB;"><strong>Protected B</strong></section>
                    </div>
                </section>
            </div>
            <div class="pagedetails">
                <dl id="wb-dtmd" style="display:none;">
                    <dt>Version:</dt>
                    <dd>
                        <span id="foaeaVersion"></span>
                        <environment exclude="Production">
                            &nbsp;(<span id="dbInfo"></span>)
                        </environment>
                    </dd>
                </dl>
            </div>

        </main>

    </div>
    <!-- Static footer starts -->
    <footer id="wb-info" class="footer-spacing">
        <div class="landscape">
            <nav class="container wb-navcurr">
                <h2 class="sr-only">About government</h2>
                <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                    <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                    <li><a href="https://www.canada.ca/home.html">Canada Site</a></li>
                    <li><a href="https://www.justice.gc.ca/">Justice Canada</a></li>
                    <li><a href="https://www.canada.ca/en/transparency/reporting.html">Terms of Reference</a></li>
                    <li><a href="https://pm.gc.ca/eng">About Us</a></li>
                    <li><a asp-page="/WhatsNew">What's New</a></li>
                    <li>&nbsp;</li>
                </ul>
            </nav>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <nav class="col-lg-9 col-xl-10 ftr-urlt-lnk">
                        <h2 class="sr-only">About this site</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                            <li class="list-inline-item"><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                            <li class="list-inline-item"><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                            <li class="list-inline-item"><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                            <li class="list-inline-item"><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                        </ul>
                    </nav>
                    <div class="col-6 offset-6 offset-lg-0 col-lg-3 col-xl-2 text-right"> <img src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada"> </div>
                </div>
            </div>
        </div>
    </footer>

    <environment exclude="Production,Staging">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.js"></script>
        <script src="~/js/foaea.js"></script>
        <script src="~/js/_layout.js"></script>
    </environment>
    <environment include="Production,Staging">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/js/root.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    @if (hasLoggedIn)
    {
        <script language="javascript">
            var actionLogoutURL = '@Url.Action("Logout", "Home", new { Area = "" })';
            setupAutoLogout();
        </script>
    }

</body>
</html>
