@page
@using FOAEA3.Model
@using FOAEA3.Web.Helpers
@using Microsoft.AspNetCore.Http

@model InterceptionDashboardModel

<div>@HttpContext.Session.GetString(SessionValue.USER_NAME) (@HttpContext.Session.GetString(SessionValue.SUBMITTER))</div>
<div class="text-center interception">

    @await Html.PartialAsync("~/Pages/Shared/_MessagesPartial.cshtml", Model)

    <div class="row">
        <div class="col-md-6 align-middle"><h3>Search</h3></div>
        <div class="col-md-6 text-right align-middle"><br /><br /><span class="glyphicon glyphicon-check"></span> Select to add to My Search - 5 Max</div>
    </div>
    <form method="post" class="form-inline">
        <div class="wb-tabs">
            <div class="tabpanels">
                <details id="details-panel1">
                    <summary>My Search</summary>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <div id="mySearch_LastName" class="form-group multiColGroup mySearchControl">
                                <label for="item1my" class="text-left multiColLabel">Last Name</label>
                                <input type="text" class="form-control multiColControl" id="item1my" asp-for="MySearchCriteria.LastName">
                            </div>
                            <div id="mySearch_MiddleName" class="form-group multiColGroup mySearchControl">
                                <label for="item2my" class="text-left multiColLabel">Middle Name</label>
                                <input type="text" class="form-control multiColControl" id="item2my" asp-for="MySearchCriteria.MiddleName">
                            </div>
                            <div id="mySearch_FirstName" class="form-group multiColGroup mySearchControl">
                                <label for="item3my" class="text-left multiColLabel">First Name</label>
                                <input type="text" class="form-control multiColControl" id="item3my" asp-for="MySearchCriteria.FirstName">
                            </div>
                            <div id="mySearch_EnfRefSource" class="form-group multiColGroup mySearchControl">
                                <label for="item4my" class="text-left multiColLabel">Enf Ref Src #</label>
                                <input type="text" class="form-control multiColControl" id="item4my" asp-for="MySearchCriteria.EnfSourceRefNumber">
                            </div>
                            <div id="mySearch_State" class="form-group multiColGroup mySearchControl">
                                <label for="item5my" class="text-left multiColLabel">State</label>
                                <input type="text" class="form-control multiColControl" id="item5my" asp-for="MySearchCriteria.State">
                            </div>
                            <div id="mySearch_SIN" class="form-group multiColGroup mySearchControl">
                                <label for="item6my" class="text-left multiColLabel">SIN</label>
                                <input type="text" class="form-control multiColControl" id="item6my" asp-for="MySearchCriteria.SIN">
                            </div>
                            <div id="mySearch_ControlCode" class="form-group multiColGroup mySearchControl">
                                <label for="item7my" class="text-left multiColLabel">Control Code</label>
                                <input type="text" class="form-control multiColControl" id="item7my" asp-for="MySearchCriteria.ControlCode">
                            </div>
                            <div id="mySearch_JusticeNo" class="form-group multiColGroup mySearchControl">
                                <label for="item8my" class="text-left multiColLabel">Justice #</label>
                                <input type="text" class="form-control multiColControl" id="item8my" asp-for="MySearchCriteria.JusticeNumber">
                            </div>
                            <div id="mySearch_Status" class="form-group multiColGroup mySearchControl">
                                <label for="item9my" class="text-left multiColLabel">Status</label>
                                <input type="text" class="form-control multiColControl" id="item9my" asp-for="MySearchCriteria.Status">
                            </div>

                            <div id="mySearch_ReceiptDateRangeFrom" class="form-group multiColGroup mySearchControl">
                                <label for="item11my" class="text-left multiColLabelLong">Receipt Date - From</label>
                                <input type="text" class="form-control multiColControl" id="item11my" asp-for="MySearchCriteria.ReceiptDateFrom">
                            </div>
                            <div id="mySearch_ReceiptDateRangeTo" class="form-group multiColGroup mySearchControl">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item12my" class="text-left multiColLabelLong">Receipt Date - To</label>
                                <input type="text" class="form-control multiColControl" id="item12my" asp-for="MySearchCriteria.ReceiptDateTo">
                            </div>
                            <div id="mySearch_ExpiryDateRangeFrom" class="form-group multiColGroup mySearchControl">
                                <label for="item13my" class="text-left multiColLabelLong">Expiry Date - From</label>
                                <input type="text" class="form-control multiColControl" id="item13my" asp-for="MySearchCriteria.ExpiryDateFrom">
                            </div>
                            <div id="mySearch_ExpiryDateRangeTo" class="form-group multiColGroup mySearchControl">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item14my" class="text-left multiColLabelLong">Expiry Date - To</label>
                                <input type="text" class="form-control multiColControl" id="item14my" asp-for="MySearchCriteria.ExpiryDateTo">
                            </div>
                            <div id="mySearch_DateOfBirthRangeFrom" class="form-group multiColGroup mySearchControl">
                                <label for="item15my" class="text-left multiColLabelLong">Date of Birth - From</label>
                                <input type="text" class="form-control multiColControl" id="item15my" asp-for="MySearchCriteria.DateOfBirthFrom">
                            </div>
                            <div id="mySearch_DateOfBirthRangeTo" class="form-group multiColGroup mySearchControl">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item16my" class="text-left multiColLabelLong">Date of Birth - To</label>
                                <input type="text" class="form-control multiColControl" id="item16my" asp-for="MySearchCriteria.DateOfBirthTo">
                            </div>

                            <div><input type="submit" value="Search" asp-page-handler="MySearch" /></div>
                        </div>
                    </div>
                </details>
                <details id="details-panel2">
                    <summary>Advanced Search</summary>
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <div class="form-group multiColGroup">
                                <input id="chkLastName" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item1" class="text-left multiColLabel">Last Name</label>
                                <input type="text" class="form-control multiColControl" id="item1" asp-for="SearchCriteria.LastName">
                            </div>
                            <div class="form-group multiColGroup">
                                <input id="chkMiddleName" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item2" class="text-left multiColLabel">Middle Name</label>
                                <input type="text" class="form-control multiColControl" id="item2" asp-for="SearchCriteria.MiddleName">
                            </div>
                            <div class="form-group multiColGroup">
                                <input id="chkFirstName" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item3" class="text-left multiColLabel">First Name</label>
                                <input type="text" class="form-control multiColControl" id="item3" asp-for="SearchCriteria.FirstName">
                            </div>
                            <div class="form-group multiColGroup">
                                <input id="chkEnfRefSource" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item4" class="text-left multiColLabel">Enf Ref Src #</label>
                                <input type="text" class="form-control multiColControl" id="item4" asp-for="SearchCriteria.EnfSourceRefNumber">
                            </div>
                            <div class="form-group" style="padding-left: 3px !important; white-space:nowrap;">
                                <input id="chkState" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item5" class="text-left multiColLabel">State</label>
                                <select class="form-control multiColControl" asp-for="SearchCriteria.State">
                                    @{
                                        <option value="">All</option>
                                        if (Model.LifeStates is not null)
                                        {
                                            foreach (var state in Model.LifeStates)
                                            {
                                                <option value="@state.AppLiSt_Cd">@state.Description</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div><input type="submit" id="advancedSearch" value="Search" asp-page-handler="AdvancedSearch" /></div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="form-group">
                                <input id="chkSIN" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item6" class="text-left multiColLabel">SIN</label>
                                <input type="text" class="form-control multiColControlShort" id="item6" asp-for="SearchCriteria.SIN">
                            </div>
                            <div class="form-group">
                                <input id="chkControlCode" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item7" class="text-left multiColLabel">Control Code</label>
                                <input type="text" class="form-control multiColControlShort" id="item7" asp-for="SearchCriteria.ControlCode">
                            </div>
                            <div class="form-group">
                                <input id="chkJusticeNo" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item8" class="text-left multiColLabel">Justice #</label>
                                <input type="text" class="form-control multiColControlShort" id="item8" asp-for="SearchCriteria.JusticeNumber">
                            </div>
                            <div class="form-group">
                                <input id="chkStatus" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item9" class="text-left multiColLabel">Status</label>
                                <select class="form-control multiColControlShort" asp-for="SearchCriteria.Status">
                                    <option value="">All</option>
                                    <option value="A">Active</option>
                                    <option value="C">Complete</option>
                                    <option value="I">Inactive</option>
                                    <option value="J">Rejected</option>
                                    <option value="P">Processing</option>
                                    <option value="X">Cancelled</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item10" class="text-left multiColLabel">Category</label>
                                <select class="form-control multiColControlShort" asp-for="SearchCriteria.Category">
                                    <option value="">All</option>
                                    <option value="T01">Trace and Locate</option>
                                    <option value="I01">Garnishment</option>
                                    <option value="L01">Licence Denial</option>
                                    <option value="L03">Licence Denial Termination</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="form-group">
                                <input id="chkReceiptDateRange" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item11" class="text-left multiColLabelLong">Receipt Date - From</label>
                                <input type="text" class="form-control multiColControlShort" id="item11" asp-for="SearchCriteria.ReceiptDateFrom">
                            </div>
                            <div class="form-group">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item12" class="text-left multiColLabelLong">Receipt Date - To</label>
                                <input type="text" class="form-control multiColControlShort" id="item12" asp-for="SearchCriteria.ReceiptDateTo">
                            </div>
                            <div class="form-group">
                                <input id="chkExpiryDateRange" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item13" class="text-left multiColLabelLong">Expiry Date - From</label>
                                <input type="text" class="form-control multiColControlShort" id="item13" asp-for="SearchCriteria.ExpiryDateFrom">
                            </div>
                            <div class="form-group">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item14" class="text-left multiColLabelLong">Expiry Date - To</label>
                                <input type="text" class="form-control multiColControlShort" id="item14" asp-for="SearchCriteria.ExpiryDateTo">
                            </div>
                            <div class="form-group">
                                <input id="chkDateOfBirthRange" type="checkbox" class="multiColCheck" aria-label="...">
                                <label for="item15" class="text-left multiColLabelLong">Date of Birth - From</label>
                                <input type="text" class="form-control multiColControlShort" id="item15" asp-for="SearchCriteria.DateOfBirthFrom">
                            </div>
                            <div class="form-group">
                                <span class="multiColCheck">&nbsp;&nbsp;&nbsp;</span>
                                <label for="item16" class="text-left multiColLabelLong">Date of Birth - To</label>
                                <input type="text" class="form-control multiColControlShort" id="item16" asp-for="SearchCriteria.DateOfBirthTo">
                            </div>
                        </div>
                    </div>
                </details>
                <details id="details-panel3">
                    <summary>Saved Searches</summary>
                    <p>
                        &nbsp;3
                    </p>
                </details>
            </div>
        </div>
        <br />
        @if (Model.SearchResults != null)
        {
            <div class="row">
                <table class="wb-tables table table-striped table-hover" style="font-size:xx-small !important">
                    <thead>
                        <tr>
                            <th style="white-space:nowrap;">Category</th>
                            <th style="white-space:nowrap;">Date<br />Received</th>
                            <th style="white-space:nowrap;">Submitter</th>
                            <th style="white-space:nowrap;">Recipient</th>
                            <th style="white-space:nowrap;">Service</th>
                            <th style="white-space:nowrap;">Control<br />Code</th>
                            <th style="white-space:nowrap;">Support Payor<br />Surname</th>
                            <th style="white-space:nowrap;">Source Ref #</th>
                            <th style="white-space:nowrap;">Expiry<br />Date</th>
                            <th style="white-space:nowrap;">Justice #</th>
                            <th style="white-space:nowrap;">State</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.LifeStates is not null)
                            {
                                foreach (var result in Model.SearchResults)
                                {
                                    var applListState = Model.LifeStates.Find(m => m.AppLiSt_Cd == result.AppLiSt_Cd);

                                    <tr class="gradeX">
                                        <td>@result.AppCtgy_Cd</td>
                                        <td>@result.Appl_Rcptfrm_Dte.ToString("yyyy/MM/dd")</td>
                                        <td>@result.Subm_SubmCd</td>
                                        <td>@result.Subm_Recpt_SubmCd</td>
                                        <td>@result.Appl_EnfSrv_Cd</td>
                                        <td>@result.Appl_CtrlCd</td>
                                        <td>@result.Appl_Dbtr_SurNme</td>
                                        <td>@result.Appl_Source_RfrNr</td>
                                        <td>@result.Appl_Expiry_Dte?.ToString("yyyy/MM/dd")</td>
                                        <td>@result.Appl_JusticeNr</td>
                                        <td style="white-space:nowrap;">@applListState?.Description</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <div>
                <p>Submitted Today</p>
                <p><input type="submit" class="btn" value="@Model.SubmittedToday" asp-page-handler="SearchSubmittedToday" /></p>
            </div>

            <div>
                <p>SIN Pending Last 7 days</p>
                <p><input type="submit" class="btn" value="@Model.SinPendingsLast7days" asp-page-handler="SearchSinPendingsLast7days" /></p>
            </div>

        }
    </form>

</div>

@section Scripts {
    <script src="~/js/Applications/InterceptionDashboard.js"></script>
}
