@{
    ViewBag.Title = LanguageResource.MENU_CHANGE_PASSWORD;
    //HtmlHelper.ClientValidationEnabled = false;

}

@section styles {
    <style>
        select {
            width: 45px !important;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset class="rightSideBox">
        <legend>@LanguageResource.MENU_CHANGE_PASSWORD</legend>

        <div class="editor-box">
            <span class="editor-label">
                @LanguageResource.CHANGE_PASSWORD_LABEL:
            </span>
            <span class="editor-field">
                @Html.Password("oldPassword")
            </span>
        </div>
        <p class="clear">
            <input type="submit" value="@LanguageResource.SUBMIT_ENTER" />
        </p>
    </fieldset>
}