@using FOAEA3.Resources.Helpers
@using FOAEA3.Helpers

@{
    ViewBag.Title = LanguageResource.MENU_CHANGE_PASSWORD;
    //HtmlHelper.ClientValidationEnabled = false;

    bool isEnglish = LanguageHelper.IsEnglish();

}

@section styles {
    <style>
        select {
            width: 45px !important;
        }
    </style>
}

<table id="Table1" cellspacing="1" cellpadding="2" border="0">
    <tr>
        <td>
            <h2 class="pageTitle">@LanguageResource.MENU_CHANGE_PASSWORD</h2>
        </td>
    </tr>
    @if (isEnglish)
    {
        <tr>
            <td>
                <p>
                    The new permanent password must conform with the following standard:
                    - Minimum of 8 alphanumerical characters;
                    - Choose one or more of at least three of: one digit, one lower case letter, one uppercase letter and one special character;
                    - Cannot contain the portion of your user account name that is found before or after the dash (-);
                    - Should not be a password already used in the past
                </p>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <p>
                    Le nouveau mot de passe permanent doit être conforme à la norme suivante:
                    - Minimum de 8 caractères alphanumériques;
                    - Choisissez au moins un caractère dans au moins trois des catégories suivantes:  un chiffre, une lettre minuscule, une lettre majuscule et un caractère spécial;
                    - Ne peut pas contenir la portion de votre nom d'utilisateur qui se retrouve avant ou après le tiret (-);
                    - Ne devrait pas être un mot de passe déjà utilisé dans le passé
                </p>
            </td>
        </tr>

    }

</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset class="rightSideBox">
        <legend>@LanguageResource.MENU_CHANGE_PASSWORD</legend>

        <div class="editor-box">
            <span class="editor-label">
                @LanguageResource.CHANGE_PASSWORD_NEW_LABEL:
            </span>
            <span class="editor-field">
                @Html.Password("newPassword")
            </span>
        </div>
        <div class="editor-box">
            <span class="editor-label">
                @LanguageResource.CHANGE_PASSWORD_CONFIRM_LABEL:
            </span>
            <span class="editor-field">
                @Html.Password("confirmPassword")
            </span>
        </div>
        <p class="clear">
            <input type="submit" value="@LanguageResource.SUBMIT_ENTER" />
        </p>
    </fieldset>
}
