@model FOAEA3.Model.SubjectData
@{

    ViewBag.Title = @LanguageResource.RESET_PASSWORD;
    //HtmlHelper.ClientValidationEnabled = false;

}

@*<h1>ResetPassword</h1>*@


@*@using (Html.BeginForm("ResetPassword", "Home"))
{*@
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
<form method="post">
    <fieldset class="rightSideBox">
        <legend>@LanguageResource.RESET_PASSWORD</legend>
        <br />
        @if (!string.IsNullOrEmpty(ViewBag.Exception))
        {
            <pre class="error">
@ViewBag.Exception
</pre>
        }
        <div class="editor-box">
            <span class="editor-label">
                @Html.LabelFor(model => model.SubjectName)
            </span>
            <span class="editor-field">
                @Html.TextBoxFor(model => model.SubjectName)
            </span>
        </div>
        <div class="editor-box">
            <span class="editor-label">
                @if (!(Model == null))
                {
                    @LanguageResource.CONFIRMATION_CODE_LABEL
                }
            </span>
            <span class="editor-field">
                @if (!(Model == null))
                {
                    @Html.TextBox("confirmationCode")
                }
            </span>
        </div>

        <p class="clear">
            <input type="submit" asp-action="ResetPassword" asp-controller="Home" value="@LanguageResource.SUBMIT_ENTER" class="btn btn-success" />

        </p>
    </fieldset>
 </form>
    @*}*@
