@using FOAEA3.Model.Enums;

@model FOAEA3.ViewModels.TracingAffidavitDataEntryViewModel

@{
    ViewData["Title"] = "T01 Affidavit";
}

<partial name="_ErrorInfoDisplay" model="Model.Tracing" />

<div class="container">

    <form method="post" class="form-inline">

        <input type="hidden" id="Tracing.Appl_EnfSrv_Cd" name="Tracing.Appl_EnfSrv_Cd" value="@Model.Tracing.Appl_EnfSrv_Cd" />
        <input type="hidden" id="Tracing.Appl_CtrlCd" name="Tracing.Appl_CtrlCd" value="@Model.Tracing.Appl_CtrlCd" />

        <small>Protected when received by the Department of Justice</small>
        <section class="row col-12">
            <h4 class="text-center mt-4 col-12"><u>T02</u></h4>
            <h4 class="text-center col-12"><u>AFFIDAVIT IN SUPPORT OF AN APPLICATION UNDER PART I OF THE FAMILY ORDERS AND AGREEMENTS ENFORCEMENT ASSISTANCE ACT.</u></h4>
            <p class="col-12">
                in the province or territory of @Model.Province<br />
                BETWEEN:
            </p>
            <div class="text-center col-12"><input type="text" asp-for="Creditor" class="form-control-sm" size="40" /></div>
            <p class="text-center col-12">-and-</p>
            <div class="text-center col-12"><input type="text" asp-for="Debtor" class="form-control-sm" size="40" /></div>
        </section>
        <section class="row col-12">
            <h4 class="mt-5 text-center col-12"><u>AFFIDAVIT</u></h4>
            <p class="col-12">I, @Model.Declarant, make oath and say as follows:</p>
            <div class="col-12">
                1. The following person to be located, <input type="text" asp-for="Debtor" class="form-control" />,<br />
                <small class="col-12">Check and fill either A. or B.</small>
            </div>
            <div class="col-12 ml-3">
                <input type="checkbox" Checked="Checked" Disabled="Disabled" />A. is in breach of the family provision identified as <select asp-for="Tracing.FamPro_Cd" asp-items="@Model.FamilyProvisions"></select>,
                and the particulars of the said breach are as follows:
            </div>
            <div class="text-center col-12"><textarea asp-for="Tracing.Trace_Breach_Text" cols="40"></textarea></div>
            <div class="col-12 ml-3">
                <input type="checkbox" Disabled="Disabled" />B. has had laid against him or her an information pursuant to section Criminal Code
            </div>
            <div class="col-12">2. The full name(s) of the missing child(ren) is (are):</div>
            <div class="text-center col-12"><textarea asp-for="Tracing.Trace_Child_Text" cols="40"></textarea></div>
            <p class="col-12 ml-3">(name of the person to be located and/or name(s) of missing child(ren))</p>
        </section>
        <section class="row col-12">
            <div class="col-12">
                <small class="col-12">3. Check and fill either in A and/or B if applicable</small>
            </div>
            <div class="col-12 ml-3">
                <input type="checkbox" />A. One or more provincial or territorial information bank(s):<br />
                (i) that is (are) identified as <select asp-for="Tracing.InfoBank_Cd" asp-items="@Model.InfoBanks"></select> (name(s) or information bank(s))<br />
                or<br />
                (ii) that may be searched pursuant to <select><option value="a">Family Resposibility and Support Arrears Enforcement Act</option></select> (name(s) or
                provincial statute(s)) has (have) been searched for information in helpful in locating
            </div>
            <div class="text-center col-12"><textarea asp-for="Debtor" cols="40"></textarea></div>
            <p class="col-12 ml-3">(name of the person to be located and/or name(s) of missing child(ren))</p>
            <div class="col-12 ml-3">
                <input type="checkbox" />B. There are reasonable grounds to believe that the following person(s) has (have) left the province or territory:
            </div>
            <div class="text-center col-12"><textarea cols="40"></textarea></div>
            <p class="col-12 ml-3">The reasonable grounds are:</p>
            <div class="text-center col-12"><textarea asp-for="Tracing.Trace_ReasGround_Text" cols="40"></textarea></div>
        </section>
        <section class="row col-12">
            <div class="col-12 ml-3">@Model.CurrentDate</div><br />
        </section>
        <section class="row col-12">
            <p class="col-12 ml-3">(A Commisioner, Justice of the Peace, Notary Public, etc.)</p>
            <div class="col-12 ml-3">
                <select asp-for="Tracing.Subm_Affdvt_SubmCd" asp-items="@Model.Commissionners"></select><br />
            </div>
        </section>
        <section class="row col-12">
            <div class="form-group mt-4 col-12">
                <button asp-controller="Tracing" asp-action="AffidavitCreate" asp-area="Application" class="btn btn-primary">Submit to FOAEA</button>
                <button class="btn border-primary">Clear Fields</button>
            </div>
        </section>

    </form>

</div>

@section Scripts {

    <environment exclude="Production,Staging">
        <script src="~/js/Areas/Application/Tracing/AffidavitCreate.js"></script>
    </environment>
    <environment include="Production,Staging">
        <script src="~/js/Areas/Application/Tracing/AffidavitCreate.min.js"></script>
    </environment>

}