@using FOAEA3.Data.Base;
@using FOAEA3.Model;
@using FOAEA3.Model.Enums;
@using FOAEA3.Resources.Helpers;
@using FOAEA3.Areas.Application;

@{
    ViewData["Title"] = "Events";
}

@model List<ApplicationEventData>

@section Styles {
    <environment exclude="Production,Staging">
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    </environment>
    <environment include="Production,Staging">
        <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    </environment>
}

<div class="row mb-2">
    <div class="col text-info"><h2>Event List</h2></div>
</div>
<div class="row">
    <div class="col-12">
        <table id="datatablesGrid">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Service</th>
                    <th>Submitter</th>
                    <th>Control Code</th>
                    <th>Recipient</th>
                    <th>Date/Time</th>
                    <th>Reason Code</th>
                    <th class="text-center">Reason Text</th>
                    <th class="text-center">State</th>
                    <th>Update Submitter</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationEventData data in Model)
                {

                    string appKey = data.Appl_EnfSrv_Cd + "-" + data.Appl_CtrlCd;
                    string controller = ApplicationHelper.GetControllerForCategory(data.AppCtgy_Cd);
                    string reasonDescription = string.Empty;
                    string stateValue = ((int)data.AppLiSt_Cd).ToString();
                    string eventReasonCode = ((int)data.Event_Reas_Cd).ToString();
                    if (data.Event_Reas_Cd.HasValue)
                    {
                        if (ReferenceData.Instance().FoaEvents.ContainsKey(data.Event_Reas_Cd.Value))
                        {
                            reasonDescription = @ReferenceData.Instance().FoaEvents[data.Event_Reas_Cd.Value].Description;
                        }
                        if (!string.IsNullOrEmpty(data.Event_Reas_Text))
                        {
                            reasonDescription += " (" + data.Event_Reas_Text + ")";
                        }
                    }

                    <tr>
                        <td>@data.AppCtgy_Cd</td>
                        <td>@data.Appl_EnfSrv_Cd</td>
                        <td>@data.Subm_SubmCd</td>
                        <td><a asp-controller="@controller" asp-action="Edit" asp-area="Application" asp-route-id="@appKey">@data.Appl_CtrlCd</a></td>
                        <td>@data.Subm_Recpt_SubmCd</td>
                        <td class='nowrap'>@data.Event_TimeStamp.ToString(DateTimeExtensions.YYYY_MM_DD_HH_MM_SS)</td>
                        <td>@eventReasonCode</td>
                        <td class='nowrap'>@reasonDescription</td>
                        <td class='nowrap'>@stateValue - @ReferenceData.Instance().ApplicationLifeStates[data.AppLiSt_Cd].Description</td>
                        <td>@data.Subm_Update_SubmCd</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {

    <environment exclude="Production,Staging">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/js/Shared/datatableManager.js"></script>
        <script src="~/js/Areas/Application/Application/Events.js"></script>
    </environment>
    <environment include="Production,Staging">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/js/Shared/datatableManager.min.js"></script>
        <script src="~/js/Areas/Application/Application/Events.min.js"></script>
    </environment>

}
