@using FOAEA3.Model
 
@model ApplicationData

@{ 
    string courtValue = ViewBag.CourtValue;
    bool applCtrlDisabled = ViewBag.ApplCtrlDisabled;
    bool refDisabled = ViewBag.RefDisabled;
    string tablePrefix = ViewBag.TablePrefix;
}

<div class="row mt-2">
    <div class="col">PART 1</div>
</div>
<div class="row mb-4 text-info">
    <div class="col">APPLICATION IDENTIFICATION</div>
</div>
<div class="form-group form-row mb-1">
    <label for="txtProvince" class="col-7 col-form-label text-left">Court, peace officer or provincial enforcement services name:</label>
    <div class="input-group col-5">
        <span class="col-form-label col pl-2 pr-2">@courtValue</span>
        <span class="input-group-append">
            <span class="pl-2 pr-2 badge-info rounded">[01]</span>
        </span>
    </div>
</div>
<div class="form-group form-row mb-1">
    <label for="txtCtrlCd" class="col-7 col-form-label text-left">Application reference code no.:</label>
    <div class="input-group col-5">
        <span class="input-group-prepend">
            <span class="col-form-label pl-2 pr-2">@Model.Appl_EnfSrv_Cd - @Model.Subm_SubmCd -</span>
        </span>
        <flas-input table-prefix="@tablePrefix" asp-for="Appl_CtrlCd" simple disabled="applCtrlDisabled"></flas-input>
        <span class="input-group-append">
            <span class="pl-2 pr-2 badge-info rounded-right">[02]</span>
        </span>
    </div>
</div>
<div class="form-group form-row mb-1">
    <label for="txtEndRef" class="col-7 col-form-label text-left">Court, peace officer or provincial enforcement services ref. no.:</label>
    <div class="input-group col-5">
        <flas-input table-prefix="@tablePrefix" asp-for="Appl_Source_RfrNr" simple disabled="refDisabled"></flas-input>
        <span class="input-group-append">
            <span class="pl-2 pr-2 badge-info rounded-right">[03]</span>
        </span>
    </div>
</div>