@using FOAEA3.Model
@using FOAEA3.Resources.Helpers
@using FOAEA3.Data.Base;

@model ApplicationData

@{
    bool commentsDisabled = ViewBag.CommentsDisabled;
    bool isCreateMode = ViewBag.IsCreateMode;
    string declarant = ViewBag.Declarant;
    string legalDate = ViewBag.LegalDate;
    string tablePrefix = ViewBag.TablePrefix;
    string fieldName = $"{tablePrefix}.Appl_CommSubm_Text";
}

<div class="row">
    <div class="col-6">
        Name of Declarant: <span class="text-info">@declarant</span>
    </div>
    <div class="col-6">
        Date: <span class="text-info">@legalDate</span>
    </div>
</div>

<br />
<div class="row">

    <label class='control-label pl-3' for='@fieldName'>
        Comments&nbsp;
        @if ((SessionData.CurrentSubmitter.IsInternalUser()) && (!commentsDisabled) && (!isCreateMode))
        {
            <select id="ddlComments" name="ddlComments">
                <option value="0" selected></option>
                @foreach (ApplicationCommentsData appComment in ReferenceData.Instance().ApplicationComments.Items)
                {
                    int id = appComment.ApplicationCommentsId;
                    string desc = LanguageHelper.IsEnglish() ? appComment.ApplicationComments_Txt_E : appComment.ApplicationComments_Txt_F;
                    <option value="@id">@desc</option>
                }
            </select>
        }
    </label>
    <flas-comment table-prefix="@tablePrefix" asp-for="Appl_CommSubm_Text" no-offset disabled="commentsDisabled" no-label></flas-comment>
</div>
