@model FOAEA3.ViewModels.SubmitterDataEntryViewModel

<partial name="_ErrorInfoDisplay" model="Model.Submitter" />

@Html.AntiForgeryToken()
<form method="post">

    <partial name="_SubmitterData" model="Model.Submitter" />

    <div class="row mt-4">
        <div class="offset-1 col-11 form-group">
            <input type="submit" asp-action="Create" asp-controller="Submitter" asp-area="Administration" value="@LanguageResource.SAVE" class="btn btn-success" />
            <input type="submit" asp-action="CreateNewFromCurrent" asp-controller="Submitter" asp-area="Administration" value="@LanguageResource.ADD_NEW_FROM_CURRENT" class="btn btn-outline-primary" />
        </div>
    </div>
</form>

<div class="row mt-4">
    <div class="col-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var actionGetProvincesURL = '@Url.Action("GetProvinces","Submitter", new { Area = "Administration" })';
        var actionGetEnfOffForServiceURL = '@Url.Action("GetEnfOffForService", "Submitter", new { Area = "Administration"})';
        var actionGetEnfServicesForProvinceURL = '@Url.Action("GetEnfServicesForProvince", "Submitter", new { Area = "Administration"})';
        var actionGetEnfOffInfoURL = '@Url.Action("GetEnfOffInfo", "Submitter", new { Area = "Administration"})';

        var initProvince = "@Model.Province";
        var initEnfSrv = "@Model.Submitter.EnfSrv_Cd.Trim()";
        var initEnfOff = "@Model.Submitter.EnfOff_City_LocCd.Trim()";
    </script>

    <environment exclude="Production,Staging">
        <script src="~/js/Areas/Administration/Submitter/Create.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Submitter.js"></script>
    </environment>
    <environment include="Production,Staging">
        <script src="~/js/Areas/Administration/Submitter/Create.min.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Submitter.min.js"></script>
    </environment>


}
